[submodule "submodules/glottolog"]
	path = submodules/glottolog
	url = git@github.com:glottolog/glottolog.git
[submodule "submodules/concepticon-data"]
	path = submodules/concepticon-data
	url = git@github.com:concepticon/concepticon-data.git
[submodule "submodules/clts"]
	path = submodules/clts
	url = git@github.com:cldf-clts/clts.git
